.Post_container {
    width: 615px;
    border: 1px solid #dbdbdb;
    background-color: white;
    margin-top: 25px;
}
.Post_header {
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
}
.Post_img {
    min-width: 30px;
    min-height: 30px;
    margin: 10px;
}
.Post_username {
    font-weight: bold;
    margin-top: 20px;
}
.Post_icon {
    width: 25px;
    height: 25px;
    margin: 5px;
}
.Post_comment {
    margin: 10px;
}
.Post_commentbox {
    height: 56px;
    width: 603px;
    border: 1px solid #dbdbdb;
    border-bottom: 0;
    border-left: 0;
    font-size: 16px;
    padding-left: 10px;
}