body {
    background-color: #fafafa;
}
.LoginPage_main {
    display: flex;
    margin-top: 10px;
    margin-left: -65px;
}
.LoginPage_logo {
    width: 175px;
    margin-top: 25px;
}
.LoginPage_main_right {
    width: 350px;
    padding-bottom: 25px;
    border: 1px solid #DBDBDB;
    margin-top: 25px;
    text-align: center;
    background-color: white;
}
.LoginPage_signin {
    margin-top: 0px 25px;
}
.LoginPage_text {
    width: 258px;
    height: 36px;
    margin: 5px;
    border: 1px solid #DBDBDB;
    background-color: #fafafa;
    padding-left: 10px;
    border-radius: 5px;

}
.login_button {
    width: 270px;
    height: 36px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid #0095F6;
    background-color: #0095F6;
    color: white;
    margin-top: 10px;
}
.login_OR_divder {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.login_divider {
    width: 97px;
    height: 0px;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    margin-top: 10px;
}
.login_OR {
    margin:0px 20px;
    font-weight: bold;
    color: #8e8e8e;
}
.login_Fb {
    color: #385185;
    font-weight: bold;
    margin-top: 30px;
}
.login_forgot {
    color: #00376B;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;

}
.LoginPage_login_registration {
    margin-top: 25px;
    padding-bottom: 5px;
    height: 56px;
    width: 350px;
    background-color: white;
    border: 1px solid #DBDBDB;
    text-align: center;
}
.LoginPage_signup {
    margin-top: 20px;
}
.LoginPage_signup span{
    cursor: pointer;
}
.LoginPage_sign_in {
    margin-top: 20px;
}
.LoginPage_sign_in span{
    cursor: pointer;
}
.LoginPage_download_section {
    margin-top: 20px;
    height: 105px;
    width: 350px;
    text-align: center;
}
.LoginPage_download_option {
    margin-top: 20px;
}
.LoginPage_download_img {
    margin: 5px;
}